@charset "utf-8";

@import url("../font/scotchdisplaycond/stylesheet.css");
// @import url("../font/pretendard/stylesheet.css");
@import url("../font/Cafe24Classic/stylesheet.css");
@import url("../font/gamtan/stylesheet.css");
@import url("../font/s-core-dream/stylesheet.css");
@import url("reset.css");
@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Suit";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Ria";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "NanumSquareNeo";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "GangwonEducationTteontteon";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
        format("woff");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "SchoolSafeAutumnTrip";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimGaeulsopungL.woff2")
        format("woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "OngleIpSeaBreeze";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/Ownglyph_the_sea_breeze-Rg.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}
@mixin rootStyle {
    :root {
        // --color-point-: #E93D1B;
        // --color-point-: #4169e1;
        --color-point-: #ff5500;
        --color-text-xs: #000000;
        --color-text-free: #333333;
        --color-white: #ffffff;

        --colorDark-1: #121212;
        --colorDark-3: #333333;
        --colorDark-5: #555555;

        --colorLight-1: #fafafa;

        --colorblack-40: rgba(0, 0, 0, 0.4);

        --font-family-en-lg: "Scotch-Display-Cond-Rm";
        --font-family-basic: "Suit";
        --font-family-heading-en: "Scotch-Display-Cond-Rm";
        --font-family-heading-ko: "Suit";

        --font-size-h1: 8rem;

        --font-size-t1: 13rem;
        --font-size-t2: 4rem;
        --font-size-t3: 3.2rem;
        --font-size-t4: 24rem;

        --font-size-xl: 2.4rem;
        --font-size-lg: 2rem;
        --font-size-md: 1.8rem;
        --font-size-sm: 1.6rem;
        --font-size-xs: 1.4rem;

        --font-weight-300: 300;
        --font-weight-400: 400;
        --font-weight-500: 500;
        --font-weight-600: 600;
        --font-weight-800: 800;

        --margin-20: 2rem;
        --margin-24: 2.4rem;
        --margin-28: 2.8rem;
        --margin-32: 3.2rem;
        --margin-40: 4rem;
        --margin-60: 6rem;
        --margin-100: 10rem;
        --margin-160: 16rem;
    }

    @include mobile() {
        :root {
            --font-size-xl: 3.33rem;
            --font-size-lg: 2.66rem;
            --font-size-md: 2.66rem;
            --font-size-sm: 2.33rem;
            --font-size-xs: 2rem;
        }
    }
}

// $desktop-s : 1280px;
// $table-md : 1024px;
// $table-s : 767px;
// $table-xs : 640px;
// $mobile-md : 460px;
// $mobile-s : 375px;
// $mobile-xs : 320px;

@mixin desktop-s {
    @media screen and (max-width: 1280px) {
        @content;
    }
}
@mixin table-md {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
@mixin table-s {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin table-xs {
    @media screen and (max-width: 640px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin mobile-s {
    @media screen and (max-width: 375px) {
        @content;
    }
}
@mixin mobile-xs {
    @media screen and (max-width: 320px) {
        @content;
    }
}

@mixin fontSize {
    font-size: 20px;
    @media screen and (max-width: 480px) {
        font-size: 16px;
    }
}

@include rootStyle();

html,
body {
    font-size: 62.5%; /* 10px */
    @include desktop-s() {
        font-size: 50%; /* 8px */
    }
    @include mobile() {
        font-size: 37.5%; /* 6px */
    }
}
body {
    font-family: var(--font-family-basic);
    font-weight: 400;
    line-height: 1.4;
    font-size: var(--font-size-md);
    // background-color: #f6f7f2;
    overflow-x: hidden;
    // min-width: 1400px;
    // max-width: 1920px;
    margin: 0 auto;
    color: var(--color-text-free);

    // @include table-xs() {
    //     font-size: 16px;
    // }
}
.section {
    padding: 16rem 0;

    @include table-md {
        padding: 8rem 0;
    }
}
.inner {
    max-width: 1600px;
    width: calc(100% - 40px);
    margin: 0 auto;
    @include mobile() {
        width: calc(100% - 32px);
    }
}
.inner-big {
    max-width: 1800px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
.heading {
    text-align: center;
    margin-bottom: var(--margin-40);
    h3 {
        font-size: var(--font-size-h1);
        // font-family: var(--font-family-en-lg);
        font-family: var(--font-family-heading-en);
        // font-weight: 700;
        // font-weight: bold;
        line-height: 1.2;
    }
    p {
        font-size: var(--font-size-lg);
        // font-family: 'GamtanRoadDotumTTF';
        margin-top: var(--margin-20);
    }
}

.btn-link {
    display: inline-block;
    border-radius: 40px;
    margin: 20px 60px auto;
    // background-color: #fff;
    @include mobile() {
         margin: 0 auto;
         margin-top: 20px;
        }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 8px 40px;
        position: relative;
        @include mobile() {
            display: block;
        }
        &::after {
            content: "";
            width: 20px;
            height: 20px;
            background: url("../img/icon-arrow-next.svg") center center / 100% no-repeat;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            transition: right 0.5s linear;
             @include mobile() {
         transform: translateY(64%);
        }
        }
        &:hover {
            &::after {
                right: 0;
            }
        }
    }
    img {
        width: 40px;
          
    }
    span {
         @include mobile() {
            display: block;
        }
    }
}
.btn-download {
    height: 50px;
    margin-top: 20px !important;
    a {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid var(--colorDark-1);
        padding: 0 var(--margin-40);
        border-radius: 40px;
        font-size: 17px;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            width: 0;
            height: 100%;
            background-color: var(--color-point-);
            position: absolute;
            top: 0;
            left: 0;
            transition: width 0.5s linear;
        }
        &:hover::before {
            width: 100%;
        }
        &:hover {
            span {
                color: #fff;
                position: relative;
                z-index: 9;
            }
            svg {
                position: relative;
                z-index: 9;
                path {
                    fill: #ffffff;
                }
            }
        }
    }
    img {
        width: 20px;
    }
}
.tag {
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    // margin-top: var(--margin-20);

    li {
        font-size: var(--font-size-sm);
        color: var(--colorDark-5);
        &::before {
            content: "#";
        }
        &.position {
            font-weight: var(--font-weight-800);
        }
    }
}
.btn-more {
    height: 4.4rem;
    padding: 0 2rem;
    // font-family: var(--font-family-en-lg);
    display: inline-block;
    margin-top: 6rem;
    border-radius: 4rem;
    background-color: #fff;
    color: var(--color-text-free);
    line-height: 4.4rem;
    &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: var(--color-point-);
        border-radius: 50%;
        margin-left: 2rem;
        display: inline-block;
    }
}
.btn-view_site {
    width: 20rem;
    height: 5.2rem;
    // padding: 0 2rem;
    // font-family: var(--font-family-en-lg);
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
    border-radius: 4rem;
    background-color: #fff;
    color: var(--color-text-free);
    line-height: 5.2rem;
    font-size: 2rem;
    // font-weight: bold;
    border: 1px solid var(--color-point-);
    span {
        display: inline-block;
        vertical-align: baseline;
        // transform: translateY(2.5px);
        margin-left: 8px;
    }
}
.point_color {
    // color: var(--color-point-);
}
.header {
    // width: 100%;
    // height: 100px;
    position: fixed;
    // top: 50%;
    top: 20px;
    right: 20px;
    // transform: translateY(-50%);
    z-index: 99;
    // background-color: rgba(255, 255, 255, 0.8);
    // backdrop-filter: blur(7px);
    // display: none;
    @include table-md {
        top: auto;
        bottom: 20px;
        right: 50%;
        transform: translateX(50%);
    }
    .logo {
        a {
            display: block;
            img {
                height: 60px;
            }
        }
    }

    .inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav {
        background-color: rgba(0, 0, 0, 0.3);

        backdrop-filter: blur(7px);
        padding: 14px 20px;
        border-radius: 8px;

        .gnb {
            display: flex;
            gap: 20px;
            > li {
                position: relative;
                // background-color: #ffffff;

                border-radius: 20px;
                color: rgba(255, 255, 255, 0.8);
                font-size: 16px;
                white-space: nowrap;
                // mix-blend-mode: difference;
                // filter: invert(50%);

                @include mobile-s() {
                    font-size: 14px;
                }
                &.on {
                    position: relative;
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    &::before {
                        content: "";
                        width: 20px;
                        height: 24px;
                        background: url("../img/logo.png") 0 0 / 100% no-repeat;
                        /* position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%); */
                        display: block;
                    }
                    color: #fff;
                    font-weight: var(--font-weight-600);
                }
                .depth-01 {
                    display: block;
                    line-height: 100px;
                    padding: 0 4rem;
                }
                .depth-02 {
                    white-space: nowrap;
                    position: absolute;
                    top: 100px;
                    left: 50%;
                    transform: translateX(-50%);
                    // background-color: #ffcbcb;
                    text-align: center;
                    background-color: #fff;
                    border: 1px solid var(--colorblack-40);
                    border-radius: 2rem;
                    display: none;
                    li {
                        a {
                            padding: 10px 20px;
                            display: block;
                        }
                    }
                }

                &:hover .depth-02 {
                    display: block;
                }
            }
        }
    }
} /* .header*/
.main_visual {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    // background: url("../img/visual-bg-sujeong-2.jpg") 0 0 / cover no-repeat;
    // color: #fff;
    background: #00000e;
    background: linear-gradient(90deg, rgba(0, 0, 14, 1) 28%, rgba(19, 14, 17, 1) 55%, rgba(0, 0, 14, 1) 90%);
    .text_wrap {
        // width: 60%;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        // flex-direction: column;
        // justify-content: center;

        .text {
            // width: 100%;
            max-width: 1400px;
            width: calc(100% - 40px);
            text-align: left;
            margin-bottom: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // color: #f2f2f2;
            z-index: 1;
            @include mobile() {
                 
                transform: none;
                left: 20px;
                top: 50%;
                margin: 0 auto;

            }
        }
        h2 {
            font-family: var(--font-family-en-lg);
            // font-size: 10rem;
            font-size: var(--font-size-t1);
            margin-bottom: 2rem;
        }
        p {
            font-size: 2.8rem;
            // margin-bottom: 12rem;
            line-height: 1.6;
            span {
                display: block;
                margin-top: var(--margin-28);
                font-size: var(--font-size-md);
                font-style: italic;
            }
        }
        img,
        video {
            width: 100%;
            // width: 50%;
            // height: 100%;
            // height: 80vh;
            object-fit: cover;
            // object-position: 0 -400px;
            @include table-s() {
                width: 200%;
            }
        }
    }
}

.content_wrap {
    margin-top: 100vh;
    background-color: #fff;
    position: relative;
    z-index: 9;
}

.profile {
    // padding-bottom: 0;
    .inner {
        display: flex;
        justify-content: space-between;
        @include table-s() {
            flex-direction: column;
        }
    }
    .my {
        width: 600px;
        @include desktop-s() {
            width: 400px;
        }
        @include table-s() {
            width: 100%;
        }
        .personal {
            .name {
                font-size: 8rem;
                line-height: 1.3;
                strong {
                    font-family: var(--font-family-heading);
                }
                b {
                    color: var(--color-point-);
                }
            }
            &-list {
                margin: 3.2rem 0;
                li {
                    display: flex;
                    // font-size: 20px;
                    margin-top: 8px;
                    @include fontSize();
                    .tit {
                        width: 80px;
                        font-weight: 700;
                        display: block;
                    }
                }
            }
        }
        &-photo {
            // width: 600px;
            // height: 600px;
            overflow: hidden;
            @include table-s() {
                width: 80%;
            }
            @include mobile() {
                width: 100%;
                margin-bottom: 20px;
            }

            img {
                width: 100%;
                display: block;
            }
        }
    }
    .infomation {
        width: calc(100% - 600px - 100px);
        @include desktop-s() {
            width: calc(100% - 400px - 5%);
        }
        @include table-s() {
            width: 100%;
        }

        > div {
            margin-bottom: var(--margin-60);
            strong {
                display: block;
                font-size: var(--font-size-t3);
                font-weight: 700;
                margin-bottom: 16px;
            }
            ul {
                > li {
                    margin-top: 8px;
                    display: flex;
                    @include table-md() {
                        flex-direction: column;
                        margin-top: 16px;
                    }
                    span {
                        font-weight: 500;
                        font-size: 20px;
                        i {
                            display: block;
                            font-size: 16px;
                            color: var(--colorDark-5);
                        }
                    }
                    b.tit {
                        width: 200px;
                        // font-weight: 600;
                        display: block;
                        color: #888;
                        font-weight: 400;
                    }
                }
            }
        }
        .skill {
            ul {
                margin-bottom: 20px;
                li {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6px;
                    flex-direction: row;
                    a,
                    span {
                        margin-top: 6px;
                        padding: 0 8px;
                        border-radius: 4px;
                        background-color: #ededeb;
                        font-size: 16px;
                        // color: #5e548e;
                        color: #5a1f01;
                    }
                }
            }
        }
    }
} /* .profile end */

/* portfolio start */

.portfolio {
    // background-color: #f7f6f2;
    padding: 0;
    .heading_wrap {
        position: relative;
        // height: 100vh;
        .angle {
            width: 100%;
            height: 100vh;
            background-color: var(--colorDark-1);
            // background-color: #eeedff;
        }
    }
    .heading {
        // height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        // text-align: left;
        padding-bottom: 16rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) !important;
        left: 0;
        object-fit: cover;
        @include mobile {
            padding-bottom: 0;
        }
        > div {
            // color: #ececec;
            // color: #454555;
            // color: #FAFAFA;
            color: var(--colorLight-1);
            padding: 0 var(--margin-20);
            word-break: keep-all;
        }
        .angle {
            /*  width: 100px;
            height: 100px;
            background-color: #ffffff;
            border-radius: 50%; */
        }
        h3 {
            margin-bottom: var(--margin-60);
            font-size: var(--font-size-t1);
            line-height: 1;
            // color: #9D62BE;
            // color: var(--color-point-);
            // color: #ff68cf;
            // color: #FF9005;
            color: #ff5500;
        }

        strong {
            display: block;
            margin-bottom: var(--margin-20);
            font-family: var(--font-family-heading);
            font-size: var(--font-size-t2);
        }
        .text-slide {
            display: flex;
        }
    }
    .challenge {
        .item_wrap {
            // background-color: #f7f6f2;
            background-color: var(--colorDark-1);
            padding: 0 0 var(--margin-160);
            display: flex;
            .list {
                position: relative;
                // display: none;
                .item_inner {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    row-gap: 40px;
                }
                .item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    background-color: #fff;
                    padding: var(--margin-60);
                    border-radius: 24px;
                    @include table-s() {
                        flex-direction: column;
                    }
                    @include mobile() {
                        padding: var(--margin-24);
                    }
                    .image {
                        width: 50%;
                        position: relative;
                        // margin: 0 auto;
                        @include table-s() {
                            width: 100%;
                        }
                        .desktop {
                            width: 88%;
                            height: 500px;
                            overflow: hidden;
                            overflow-y: scroll;
                            border-radius: 24px;
                            @include table-s() {
                                width: 80%;
                                height: 40vh;
                            }
                            @include mobile() {
                                width: 90%;
                            }
                            &-web {
                                width: 100%;
                            }
                            &-etc {
                                width: 100%;
                                // height: auto;
                                overflow-y: auto;
                            }
                            img {
                                width: 100%;
                                // border-radius: 8px;
                            }
                            &::-webkit-scrollbar {
                                width: 7px;
                                // display: none;
                            }
                            &::-webkit-scrollbar-thumb {
                                height: auto;
                                background-color: #000000;
                                border-radius: 5px;
                            }
                            &::-webkit-scrollbar-track {
                                background: var(--colorblack-40);
                                border-radius: 5px;
                            }
                        }
                        .no-frame {
                            width: 100%; 
                            img {
                                width: 100%;
                            }
                        }
                        .mobile-app {
                            display: flex;
                            gap: 12px;
                            margin-top: 30px;
                            @include mobile() {
                                gap: 8px;
                                margin-top: var(--margin-24);
                            }
                            .mobile-frame,
                            .mobile-frame-02 {
                                // width: 300px;
                                width: 33.33%;
                                // height: 605px;
                                border-radius: 20px;
                                overflow-x: auto;
                                position: relative;
                                &::before {
                                    content: "";
                                    width: 100%;
                                    height: 100%;
                                    background: url("../img/portfolio/mobile-frame.png") top center / 100% no-repeat;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 9;
                                }
                                div {
                                    padding-bottom: 201.66%;
                                    position: relative;
                                    overflow-x: auto;
                                    &::-webkit-scrollbar {
                                        display: none;
                                    }
                                }
                                img {
                                    width: calc(100% - 13%);
                                    // width: 100%;
                                    margin: 0 auto;
                                    // margin-top: 35px;
                                    display: block;
                                    position: absolute;
                                    top: 8%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    z-index: 0;
                                    @include mobile() {
                                       /*  width: calc(100% - 13%);
                                        top: 8%; */
                                    }
                                }
                                &::-webkit-scrollbar {
                                    display: none;
                                }
                            }
                            .mobile-frame-02 {
                                overflow: hidden;
                                &::before {
                                    content: "";
                                    width: 100%;
                                    height: 100%;
                                    background: url("../img/portfolio/mobile-frame-02.png") top center / 100% no-repeat;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 9;
                                }
                                > div {
                                    padding-bottom: 196%;
                                }
                                img {
                                    width: calc(100% - 11%);
                                    // width: 100%;
                                    margin: 0 auto;
                                    // margin-top: 35px;
                                    display: block;
                                    position: absolute;
                                    top: 2.5%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    z-index: 0;
                                    border-radius: 30px;
                                    @include mobile() {
                                       /*  width: calc(100% - 13%);
                                        top: 8%; */
                                    }
                                }
                            }
                        }
                        .mobile-image_info {
                            width: 200px;
                            height: 450px;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            border: 2px solid var(--colorDark-1);
                            // border-radius: 12px;
                            padding: 8px;
                            background-color: #fff;
                            overflow: hidden;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            border-radius: 12px;
                            @include table-s() {
                                width: 200px;
                                height: 40vh;
                                bottom: -28px;
                            }
                            @include mobile() {
                                width: 130px;
                                border-radius: 8px;
                                height: 300px;
                                padding: 6px;
                            }
                            .mobile {
                                // height: calc(100% - 70px);
                                overflow: hidden;
                                overflow-y: scroll;
                                border-radius: 12px;
                                margin-bottom: 8px;
                                @include mobile() {
                                    height: 100%;
                                    border-radius: 6px;
                                }
                                img {
                                    // height: 100%;
                                    width: 100%;
                                    // border-radius: 8px;
                                }
                                &::-webkit-scrollbar {
                                    width: 7px;
                                    // display: none;
                                }
                                &::-webkit-scrollbar-thumb {
                                    height: auto;
                                    background-color: #000000;
                                    border-radius: 5px;
                                }
                                &::-webkit-scrollbar-track {
                                    background: var(--colorblack-40);
                                    border-radius: 5px;
                                }
                            }
                            .qr-image {
                                @include mobile() {
                                    display: none;
                                }
                                img {
                                    height: 100px;
                                }
                            } /* qr */
                        }
                    }

                    .item_info {
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: var(--margin-40) 0;
                        @include table-s() {
                            width: 100%;
                        }
                        .text_wrap {
                            h4 {
                                font-family: var(--font-family-heading-ko);
                                font-size: var(--font-size-t2);
                                font-weight: var(--font-weight-800);
                                span {
                                    font-family: var(--font-family-basic);
                                    font-size: var(--font-size-md);
                                    color: var(--colorDark-5);
                                }
                                p {
                                    font-family: var(--font-family-basic);
                                    font-size: var(--font-size-md);
                                }
                            }
                            > p {
                                margin: var(--margin-28) 0 var(--margin-40);
                                // font-size: var(--font-size-md);
                                line-height: 1.6;
                                word-break: keep-all;
                            }
                        }
                    } /* .item_info */
                } /* .item */
            } /* list */
        }
    } /* challenge */

    .work {
        .heading_wrap {
            .angle {
                // background-color: #f8f8f8;
                background-color: #f6f7f2;
                // background-color: #FF5500;
                // color: var(--colorDark-1);
            }
            .heading {
                > div {
                    // color: var(--colorDark-1);
                    color: var(--colorDark-1);
                }
            }
        }
        h3 {
            // color: var(--color-point-);
            // color: #7496fd;
            color: #ff5500;
        }

        #work {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .item_wrap {
            // padding: var(--margin-160) 0;
            // Smooth scroll
            position: relative;
            // background-color: #f7f6f2;
            // background-color: #FF5500;
            background-color: #ffffff;
            // background-color: var(--colorDark-1);
            // background-color: #f7f6f2;
            .project_wrap {
                // padding: var(--margin-160) 0;
                // background-color: #ff5500;
                background-color: #eb570d;
                border-radius: 24px;
                padding: var(--margin-160) 0;
            }
            .inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 36px;
                @include mobile() {
                    width: 100%;
                }
            }
            .inner-big {
                // background-color: #fff;
                border-radius: 24px;
                // background-color: #f8f8f8;
                @include mobile() {
                    // row-gap: 32px;
                }
            }
            .project-heading {
                h3 {
                }
            }
            .list {
                width: 100%;
            }

            .item {
                width: 32%;
                background-color: #f8f8f8;
                overflow: hidden;
                position: relative;
                // border: 1px solid var(--colorblack-40);
                border-radius: 12px;
                // background-color: #f8f8f8;
                padding: var(--margin-40);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include mobile() {
                    width: 100%;
                    padding: var(--margin-24);
                }
                &.sample {
                    background-color: #eaeaea;
                }

                .image {
                    padding-bottom: 80%;
                    position: relative;
                    overflow: hidden;
                    border-radius: 12px;
                    // border: 1px solid #ccc;
                    div {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;

                        img {
                            width: 100%;
                        }
                    }
                }
                .img {
                    position: relative;
                    width: 100%;
                    // padding: 10vw;

                    &-container {
                        width: 100%;
                        height: 400px;
                        overflow: hidden;
                        // height: 68vh;
                        // padding-top: 80%;
                        // position: relative;
                        // overflow: hidden;
                        // border-radius: 8px;
                        // border-bottom: 1px solid #ccc;
                        @include table-xs() {
                            height: 320px;
                        }
                        img {
                            width: 100%;
                            /*  position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%) scale(1.4);
                            transform-origin: 50% 50%; */
                        }
                    }
                }
                // &:nth-child(2n) {
                //     margin-top: 500px;
                // }
                .text {
                    // margin-top: var(--margin-28);
                    padding: var(--margin-20) 0;
                    h4 {
                        // font-family: var(--font-family-heading);
                        font-size: var(--font-size-t3);
                        font-weight: var(--font-weight-800);
                        // color: var(--color-point-);
                        span {
                            font-family: var(--font-family-basic);
                            font-size: var(--font-size-md);
                            color: var(--colorDark-5);
                            font-weight: var(--font-weight-400);
                        }
                    }
                    ul {
                        margin: 12px 0 var(--margin-28);
                        li {
                            margin: 4px 0;
                            color: var(--colorDark-5);
                        }
                    }
                }
                &:hover {
                    .text {
                        h4 {
                        }
                    }
                    i {
                        gap: 16px;
                    }
                }
                .button_wrap {
                }
            }

            .graphic {
                .heading_wrap {
                    width: 100%;
                    .project-heading {
                        width: 100%;
                        text-align: center;

                        h3 {
                            color: var(--colorDark-1);
                            font-family: var(--font-family-heading-en);
                            font-size: var(--font-size-h1);
                        }
                        p {
                            font-weight: var(--font-weight-500);
                        }
                    }
                }

                .list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    row-gap: 36px;
                }
                .item {
                    width: 24%;
                    padding: var(--margin-32);
                    @include table-xs() {
                        width: 48%;
                    }
                    @include mobile() {
                        width: 100%;
                        padding: var(--margin-20);
                    }
                    div {
                        padding-bottom: 100%;
                        position: relative;
                        overflow: hidden;
                        border-radius: 12px;
                        img,
                        video {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    p {
                        margin-top: 8px;
                        font-size: 16px;
                    }
                } /* .item */
            } /* .graphic */
        }
    } /* .work */

    /* 메인 프로젝트의 포트폴리오 버튼 */
    .button_wrap {
        margin-top: var(--margin-24);
        .button_inner {
            display: flex;
            flex-direction: column;
            gap: 12px;

            li {
                width: 100%;
                background-color: #f8f8f8;
                color: #ff5500;
                height: 50px;
                border-radius: 8px;
                border: 1px solid #ff5500;
                font-size: 17;
                div {
                    margin-left: 8px;
                }
                path {
                    stroke: #ff5500;
                }
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                :hover {
                    div {
                        animation: btnIcon infinite alternate 0.5s linear;
                    }
                }
            }
            .point {
                background-color: #ff5500;
                color: #fff;
                path {
                    stroke: #ffffff;
                }
            }
        }
        .dark {
            li {
                border: 1px solid var(--colorDark-1);
            }
            .point {
                background-color: var(--colorDark-1);
            }
        }
    } /* button_wrap */
}
@keyframes btnIcon {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(5px);
    }
}

/* .note */
.note {
    background-color: #f6f7f2;
    .list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 32px;
        @include table-s() {
            gap: 24px;
        }
        .item {
            width: calc(100% / 3 - 21.33px);
            background-color: #fff;

            // border-radius: 8px;
            position: relative;
            @include table-s() {
                width: calc(100% / 2 - 12px);
            }
            @include mobile() {
                width: 100%;
            }
            &:hover {
                box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
            }
            a {
                height: 100%;
                display: block;
                padding: 3.2rem;
                cursor: default;
            }
            img.site_logo {
                height: 28px;
                // margin-right: 8px;
            }
            strong {
                font-size: var(--font-size-t3);
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.6rem;
                padding-bottom: 1.6rem;
                border-bottom: 1px solid #ccc;
                word-break: keep-all;
            }
            p {
                word-break: keep-all;
                line-height: 1.6;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                // -webkit-line-clamp: ;

                overflow: hidden;
                margin-bottom: 4rem;
            }
            span {
                font-size: 14px;
                position: absolute;
                right: 3.2rem;
                bottom: 3.2rem;
            }
        }
    }
} /* .note */

.footer {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    color: #3b3b3b;
    text-align: center;
    padding: 8rem 0;
    strong {
        display: block;
        font-family: var(--font-family-en-lg);
        font-weight: normal;
        font-size: var(--font-size-h1);
        text-align: center;
    }
    @include mobile() {
        padding: 20rem 0;
    }
}
