@font-face {
    font-family: 'S-CoreDream';
    src: url('S-CoreDream-4Regular.eot');
    src: url('S-CoreDream-4Regular.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream-4Regular.woff2') format('woff2'),
        url('S-CoreDream-4Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('S-CoreDream-3Light.eot');
    src: url('S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream-3Light.woff2') format('woff2'),
        url('S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('S-CoreDream-8Heavy.eot');
    src: url('S-CoreDream-8Heavy.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream-8Heavy.woff2') format('woff2'),
        url('S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('S-CoreDream-5Medium.eot');
    src: url('S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream-5Medium.woff2') format('woff2'),
        url('S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('S-CoreDream-6Bold.eot');
    src: url('S-CoreDream-6Bold.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream-6Bold.woff2') format('woff2'),
        url('S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

